sfdx/force-app/main/default/flows/IoTFlowSmart_Thermostat_Orchestration-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_BEGIN) Action Call</description>
        <name>DEBUG_begin_ORCHESTRATION_BEGIN</name>
        <label>ORCHESTRATION_BEGIN Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>SKIP_DEBUG_input_ORCHESTRATION_INPUT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_begin_ORCHESTRATION_BEGIN</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orchestrationId</name>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lifecycleStatus</name>
            <value>
                <elementReference>BEGIN_LIFECYCLE_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_BEGIN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/begin</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>EVENT_TYPE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceKey</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_PK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activationId</name>
            <value>
                <elementReference>ORCHESTRATION_ACTIVATION_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_TERMINATE) Action Call</description>
        <name>DEBUG_error_ORCHESTRATION_TERMINATE</name>
        <label>ORCHESTRATION_TERMINATE Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>SKIP_DEBUG_error_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_error_ORCHESTRATION_TERMINATE</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_TERMINATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>terminationReasonOrError</name>
            <value>
                <elementReference>ERROR_MESSAGE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>terminationKind</name>
            <value>
                <stringValue>RUNTIME_ERROR</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_TRANSITION) Action Call</description>
        <name>DEBUG_error_ORCHESTRATION_TRANSITION</name>
        <label>ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>ERROR_STATE_ASSIGNMENT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_error_ORCHESTRATION_TRANSITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toState</name>
            <value>
                <numberValue>-2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromState</name>
            <value>
                <elementReference>CURRENT_STATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_TRANSITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_INPUT) Action Call</description>
        <name>DEBUG_input_ORCHESTRATION_INPUT</name>
        <label>ORCHESTRATION_INPUT Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>INITIALIZE_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_input_ORCHESTRATION_INPUT</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_INPUT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventName</name>
            <value>
                <elementReference>EVENT_NAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventPayload</name>
            <value>
                <elementReference>EVENT_PAYLOAD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/input</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>EVENT_TYPE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_TRANSITION) Action Call</description>
        <name>DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S1_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toState</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromState</name>
            <value>
                <elementReference>CURRENT_STATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_TRANSITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s1/r0/a0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S1_R1_EVENT_STATUS_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <elementReference>S1_R0_COND_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <elementReference>S1_R0_EVENT_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s1/r0/condition/false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S1_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s1/r0/condition/true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_TRANSITION) Action Call</description>
        <name>DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</name>
        <label>ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S1_R1_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toState</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromState</name>
            <value>
                <elementReference>CURRENT_STATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_TRANSITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s1/r1/a0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <elementReference>S1_R1_COND_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <elementReference>S1_R1_EVENT_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s1/r1/condition/false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S1_R1_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s1/r1/condition/true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_TRANSITION) Action Call</description>
        <name>DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S2_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toState</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromState</name>
            <value>
                <elementReference>CURRENT_STATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_TRANSITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s2/r0/a0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <elementReference>S2_R0_COND_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <elementReference>S2_R0_EVENT_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s2/r0/condition/false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S2_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s2/r0/condition/true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_TRANSITION) Action Call</description>
        <name>DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S3_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>toState</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromState</name>
            <value>
                <elementReference>CURRENT_STATE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_TRANSITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s3/r0/a0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <elementReference>S3_R0_COND_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <elementReference>S3_R0_EVENT_STATUS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s3/r0/condition/false</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_RULE_CONDITION) Action Call</description>
        <name>DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>S3_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </faultConnector>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_RULE_CONDITION</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>match</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>conditionValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenValue</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/s3/r0/condition/true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_VARIABLE_ASSIGN) Action Call</description>
        <name>DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>ORCHESTRATION_VARIABLE_ASSIGN Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>SKIP_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
        </faultConnector>
        <inputParameters>
            <name>newValue</name>
            <value>
                <elementReference>Temperature_Too_Hot_VAR_INIT_VALUE_CONST_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_VARIABLE_ASSIGN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/v0/initialValue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldValue</name>
            <value>
                <stringValue>NULL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Debug Log Event (ORCHESTRATION_VARIABLE_ASSIGN) Action Call</description>
        <name>DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>ORCHESTRATION_VARIABLE_ASSIGN Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>orchestrationDebugLog</actionName>
        <actionType>orchestrationDebugLog</actionType>
        <connector>
            <targetReference>NOT_STARTED_DECISION</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR_LOC_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
        </faultConnector>
        <inputParameters>
            <name>newValue</name>
            <value>
                <elementReference>Temperature_Too_Cold_VAR_INIT_VALUE_CONST_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>instanceId</name>
            <value>
                <elementReference>ORCHESTRATION_INSTANCE_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apexEvent</name>
            <value>
                <stringValue>ORCHESTRATION_VARIABLE_ASSIGN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>location</name>
            <value>
                <stringValue>/v1/initialValue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldValue</name>
            <value>
                <stringValue>NULL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>track</name>
            <value>
                <elementReference>TRACKER</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>End Flow</description>
        <name>END_NODE</name>
        <label>End Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ORCHESTRATION_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ORCHESTRATION_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_begin_ORCHESTRATION_BEGIN</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_error_ORCHESTRATION_TERMINATE</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_error_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_input_ORCHESTRATION_INPUT</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error: Failure during invocable action call of type: orchestrationDebugLog</description>
        <name>ERROR_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>Assignment value: Failure during invocable action call of type: orchestrationDeb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_MESSAGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure during invocable action call of type: orchestrationDebugLog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_STATE_COMPONENT_HEAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /begin</description>
        <name>ERROR_LOC_DEBUG_begin_ORCHESTRATION_BEGIN</name>
        <label>Assignment value: /begin to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/begin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_begin_ORCHESTRATION_BEGIN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /error</description>
        <name>ERROR_LOC_DEBUG_error_ORCHESTRATION_TERMINATE</name>
        <label>Assignment value: /error to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_error_ORCHESTRATION_TERMINATE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /error</description>
        <name>ERROR_LOC_DEBUG_error_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: /error to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_error_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /input</description>
        <name>ERROR_LOC_DEBUG_input_ORCHESTRATION_INPUT</name>
        <label>Assignment value: /input to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/input</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_input_ORCHESTRATION_INPUT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s1/r0/a0</description>
        <name>ERROR_LOC_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: /s1/r0/a0 to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s1/r0/a0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s1/r0/condition/false</description>
        <name>ERROR_LOC_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s1/r0/condition/false to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s1/r0/condition/false</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s1/r0/condition/true</description>
        <name>ERROR_LOC_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s1/r0/condition/true to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s1/r0/condition/true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s1/r1/a0</description>
        <name>ERROR_LOC_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: /s1/r1/a0 to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s1/r1/a0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s1/r1/condition/false</description>
        <name>ERROR_LOC_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s1/r1/condition/false to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s1/r1/condition/false</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s1/r1/condition/true</description>
        <name>ERROR_LOC_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s1/r1/condition/true to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s1/r1/condition/true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s2/r0/a0</description>
        <name>ERROR_LOC_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: /s2/r0/a0 to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s2/r0/a0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s2/r0/condition/false</description>
        <name>ERROR_LOC_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s2/r0/condition/false to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s2/r0/condition/false</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s2/r0/condition/true</description>
        <name>ERROR_LOC_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s2/r0/condition/true to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s2/r0/condition/true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s3/r0/a0</description>
        <name>ERROR_LOC_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Assignment value: /s3/r0/a0 to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s3/r0/a0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s3/r0/condition/false</description>
        <name>ERROR_LOC_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s3/r0/condition/false to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s3/r0/condition/false</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /s3/r0/condition/true</description>
        <name>ERROR_LOC_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Assignment value: /s3/r0/condition/true to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s3/r0/condition/true</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /v0/initialValue</description>
        <name>ERROR_LOC_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>Assignment value: /v0/initialValue to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/v0/initialValue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Error Location: /v1/initialValue</description>
        <name>ERROR_LOC_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>Assignment value: /v1/initialValue to: ERROR_LOCATION</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ERROR_LOCATION</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/v1/initialValue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ERROR_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Default Fault Node for Flow Runtime errors. Sets current state to -2 (Error State).</description>
        <name>ERROR_STATE_ASSIGNMENT</name>
        <label>Error State Assignment (-2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>END_NODE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Error</description>
        <name>ERROR_STATE_COMPONENT_HEAD</name>
        <label>Record Transition to Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ERROR_STATE_COMPONENT_HEAD_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_error_ORCHESTRATION_TERMINATE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting current state to initial state: Default (1)</description>
        <name>INITIAL_STATE_ASSIGN</name>
        <label>Set Initial State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Default</description>
        <name>INITIAL_STATE_TRANSITION</name>
        <label>Record Transition to Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>INITIAL_STATE_TRANSITION_CONST</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INITIAL_STATE_ASSIGN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting transition flag to true</description>
        <name>INITIAL_TRANSITION_ASSIGN</name>
        <label>Set In Transition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INITIAL_STATE_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Temperature Too Hot</description>
        <name>S1_R0_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Temperature Too Hot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S1_R0_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Temperature Too Hot( 2 )</description>
        <name>S1_R0_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Temperature Too Hot( 2 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Smart_Thermostat_Reading__e) SObject Flow Variable to null</description>
        <name>S1_R0_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</name>
        <label>Nullify event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S1_R0_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S1_R0_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R0_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S1_R0_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Smart_Thermostat_Reading__e</description>
        <name>S1_R0_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Smart_Thermostat_Reading__e</description>
        <name>S1_R0_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Temperature Too Cold</description>
        <name>S1_R1_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Temperature Too Cold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S1_R1_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Temperature Too Cold
( 3 )</description>
        <name>S1_R1_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Temperature Too Cold
( 3 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Smart_Thermostat_Reading__e) SObject Flow Variable to null</description>
        <name>S1_R1_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</name>
        <label>Nullify event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S1_R1_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S1_R1_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R1_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S1_R1_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Smart_Thermostat_Reading__e</description>
        <name>S1_R1_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Smart_Thermostat_Reading__e</description>
        <name>S1_R1_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S1_R1_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S1_R1_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Default</description>
        <name>S2_R0_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S2_R0_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Default( 1 )</description>
        <name>S2_R0_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Default( 1 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Smart_Thermostat_Reading__e) SObject Flow Variable to null</description>
        <name>S2_R0_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</name>
        <label>Nullify event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S2_R0_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S2_R0_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R0_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S2_R0_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R0_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S2_R0_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Smart_Thermostat_Reading__e</description>
        <name>S2_R0_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Smart_Thermostat_Reading__e</description>
        <name>S2_R0_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S2_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S2_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Recording state transition to state: Default</description>
        <name>S3_R0_A0_ACTION_APPEND_TRANSITION</name>
        <label>Record Transition to Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>STATE_TRANSITIONS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3_R0_A0_ACTION_TRANSITION_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changing state to: Default( 1 )</description>
        <name>S3_R0_A0_ACTION_CHANGE_STATE_ASSIGN</name>
        <label>Changing state to: Default( 1 )</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_STATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STATE_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting event (Smart_Thermostat_Reading__e) SObject Flow Variable to null</description>
        <name>S3_R0_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</name>
        <label>Nullify event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_A0_ACTION_APPEND_TRANSITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the IN_TRANSITION Flow variable to true</description>
        <name>S3_R0_A0_ACTION_STATE_TRANS_ASSIGN</name>
        <label>Set IN_TRANSITION to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IN_TRANSITION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_A0_ACTION_NULL_EVENT_ASSIGN_Smart_Thermostat_Reading_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign condition to status variable</description>
        <name>S3_R0_COND_STATUS_Assign</name>
        <label>Condition Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R0_COND_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S3_R0_RULE_COND_FORMULA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKIP_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to False for Smart_Thermostat_Reading__e</description>
        <name>S3_R0_EVENT_STATUS_ASSIGN_FALSE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set status to True for Smart_Thermostat_Reading__e</description>
        <name>S3_R0_EVENT_STATUS_ASSIGN_TRUE</name>
        <label>Event Status: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>S3_R0_EVENT_STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S3_R0_RULE_COND_DECISION</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if in the NOT_STARTED state</description>
        <name>INITIALIZE_DECISION</name>
        <label>Check NOT_STARTED</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NOT_STARTED_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks if in the NOT_STARTED state Rule</description>
            <name>INITIALIZE_DECISION_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKIP_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
            </connector>
            <label>Check NOT_STARTED Rule</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if in Not Started State</description>
        <name>NOT_STARTED_DECISION</name>
        <label>Not Started Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STATE_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Orchestration Instance Not Started</description>
            <name>NOT_STARTED_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INITIAL_TRANSITION_ASSIGN</targetReference>
            </connector>
            <label>Not Started</label>
        </rules>
        <rules>
            <description>Current state is exit (-1)</description>
            <name>EXIT_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Exit state</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S1_R0_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SKIP_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R0_COND_STATUS_Decision</description>
            <name>S1_R0_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S1_R0_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R0_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Smart_Thermostat_Reading__e</description>
        <name>S1_R0_EVENT_STATUS_DECISION</name>
        <label>Check event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R0_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S1_R0_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R0_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 0 for State Default (1)</description>
        <name>S1_R0_RULE_COND_DECISION</name>
        <label>Default (1) Event Rule 0 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R0_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R0_RULE_COND_DECISION</description>
            <name>S1_R0_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S1_R0_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKIP_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S1_R1_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SKIP_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R1_COND_STATUS_Decision</description>
            <name>S1_R1_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S1_R1_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R1_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Smart_Thermostat_Reading__e</description>
        <name>S1_R1_EVENT_STATUS_DECISION</name>
        <label>Check event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S1_R1_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R1_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 1 for State Default (1)</description>
        <name>S1_R1_RULE_COND_DECISION</name>
        <label>Default (1) Event Rule 1 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S1_R1_RULE_COND_DECISION</description>
            <name>S1_R1_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S1_R1_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKIP_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S2_R0_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SKIP_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R0_COND_STATUS_Decision</description>
            <name>S2_R0_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_R0_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R0_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Smart_Thermostat_Reading__e</description>
        <name>S2_R0_EVENT_STATUS_DECISION</name>
        <label>Check event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R0_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S2_R0_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R0_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 0 for State Temperature Too Hot (2)</description>
        <name>S2_R0_RULE_COND_DECISION</name>
        <label>Temperature Too Hot (2) Event Rule 0 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R0_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S2_R0_RULE_COND_DECISION</description>
            <name>S2_R0_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S2_R0_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKIP_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check when condition</description>
        <name>S3_R0_COND_STATUS_Decision</name>
        <label>When Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SKIP_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R0_COND_STATUS_Decision</description>
            <name>S3_R0_COND_STATUS_Decision_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_R0_EVENT_STATUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R0_COND_STATUS_Assign</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current event is: Smart_Thermostat_Reading__e</description>
        <name>S3_R0_EVENT_STATUS_DECISION</name>
        <label>Check event: Smart_Thermostat_Reading__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R0_EVENT_STATUS_ASSIGN_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Checks null</description>
            <name>S3_R0_EVENT_STATUS_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R0_EVENT_STATUS_ASSIGN_TRUE</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition Decision Node for  Rule 0 for State Temperature Too Cold
 (3)</description>
        <name>S3_R0_RULE_COND_DECISION</name>
        <label>Temperature Too Cold
 (3) Event Rule 0 Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R0_COND_STATUS_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: S3_R0_RULE_COND_DECISION</description>
            <name>S3_R0_RULE_COND_DECISION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S3_R0_RULE_COND_FORMULA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKIP_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_begin_ORCHESTRATION_BEGIN</name>
        <label>Skip ORCHESTRATION_BEGIN Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SKIP_DEBUG_input_ORCHESTRATION_INPUT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_begin_ORCHESTRATION_BEGIN</description>
            <name>SKIP_DEBUG_begin_ORCHESTRATION_BEGIN_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_begin_ORCHESTRATION_BEGIN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_error_ORCHESTRATION_TERMINATE</name>
        <label>Skip ORCHESTRATION_TERMINATE Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SKIP_DEBUG_error_ORCHESTRATION_TRANSITION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_error_ORCHESTRATION_TERMINATE</description>
            <name>SKIP_DEBUG_error_ORCHESTRATION_TERMINATE_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_error_ORCHESTRATION_TERMINATE</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_error_ORCHESTRATION_TRANSITION</name>
        <label>Skip ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ERROR_STATE_ASSIGNMENT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_error_ORCHESTRATION_TRANSITION</description>
            <name>SKIP_DEBUG_error_ORCHESTRATION_TRANSITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_error_ORCHESTRATION_TRANSITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_input_ORCHESTRATION_INPUT</name>
        <label>Skip ORCHESTRATION_INPUT Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>INITIALIZE_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_input_ORCHESTRATION_INPUT</description>
            <name>SKIP_DEBUG_input_ORCHESTRATION_INPUT_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_input_ORCHESTRATION_INPUT</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Skip ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</description>
            <name>SKIP_DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s1_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_EVENT_STATUS_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s1_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s1_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</name>
        <label>Skip ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</description>
            <name>SKIP_DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s1_r1_a0_ORCHESTRATION_TRANSITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s1_r1_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S1_R1_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s1_r1_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Skip ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</description>
            <name>SKIP_DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s2_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s2_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S2_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s2_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</name>
        <label>Skip ORCHESTRATION_TRANSITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R0_A0_ACTION_CHANGE_STATE_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</description>
            <name>SKIP_DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s3_r0_a0_ORCHESTRATION_TRANSITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s3_r0_condition_false_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</name>
        <label>Skip ORCHESTRATION_RULE_CONDITION Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S3_R0_A0_ACTION_STATE_TRANS_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</description>
            <name>SKIP_DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_s3_r0_condition_true_ORCHESTRATION_RULE_CONDITION</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>Skip ORCHESTRATION_VARIABLE_ASSIGN Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SKIP_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</description>
            <name>SKIP_DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_v0_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip debug log action call if TRACKER is false.</description>
        <name>SKIP_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</name>
        <label>Skip ORCHESTRATION_VARIABLE_ASSIGN Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>NOT_STARTED_DECISION</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Condition Rule for Decision: SKIP_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</description>
            <name>SKIP_DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN_Condition_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRACKER</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_v1_initialValue_ORCHESTRATION_VARIABLE_ASSIGN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>State Decision Node</description>
        <name>STATE_DECISION</name>
        <label>State Decision Node</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All False</defaultConnectorLabel>
        <rules>
            <description>Current state is: Default</description>
            <name>S1_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1_R0_EVENT_STATUS_DECISION</targetReference>
            </connector>
            <label>Default</label>
        </rules>
        <rules>
            <description>Current state is: Temperature Too Hot</description>
            <name>S2_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_R0_EVENT_STATUS_DECISION</targetReference>
            </connector>
            <label>Temperature Too Hot</label>
        </rules>
        <rules>
            <description>Current state is: Temperature Too Cold</description>
            <name>S3_STATE_RULE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CURRENT_STATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3_R0_EVENT_STATUS_DECISION</targetReference>
            </connector>
            <label>Temperature Too Cold</label>
        </rules>
    </decisions>
    <formulas>
        <name>ERROR_STATE_COMPONENT_HEAD_FORMULA</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": -2 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>INITIAL_STATE_TRANSITION_CONST</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 1 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S1_R0_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 2 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S1_R0_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE.Temperature__c} &gt; {!Temperature_Too_Hot_LOCAL_VAR_VARIABLE_0}</expression>
    </formulas>
    <formulas>
        <name>S1_R1_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 3 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S1_R1_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE.Temperature__c} &lt; {!Temperature_Too_Cold_LOCAL_VAR_VARIABLE_1}</expression>
    </formulas>
    <formulas>
        <name>S2_R0_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 1 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S2_R0_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE.Temperature__c} &lt; {!Temperature_Too_Hot_LOCAL_VAR_VARIABLE_0}</expression>
    </formulas>
    <formulas>
        <name>S3_R0_A0_ACTION_TRANSITION_VALUE</name>
        <dataType>String</dataType>
        <expression>"{ \"actionId\": 0, \"fromState\":" + TEXT({!CURRENT_STATE}) + ", \"toState\": 1 , \"globalAction\": false}"</expression>
    </formulas>
    <formulas>
        <name>S3_R0_RULE_COND_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE.Temperature__c} &gt; {!Temperature_Too_Cold_LOCAL_VAR_VARIABLE_1}</expression>
    </formulas>
    <label>Smart Thermostat Orchestration</label>
    <processType>OrchestrationFlow</processType>
    <startElementReference>SKIP_DEBUG_begin_ORCHESTRATION_BEGIN</startElementReference>
    <variables>
        <name>ALARM_REFERENCE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BEGIN_LIFECYCLE_STATUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>NOT_STARTED</stringValue>
        </value>
    </variables>
    <variables>
        <name>CURRENT_STATE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ERROR_LOCATION</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>/error</stringValue>
        </value>
    </variables>
    <variables>
        <name>ERROR_MESSAGE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EVENT_NAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EVENT_PAYLOAD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EVENT_TYPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FLOW_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FLOW_VERSION_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IN_TRANSITION</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>INSTANCE_GENERATION</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>INTERVIEW_GUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IS_RESPONSE_EVENT_SUCCESSFUL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LIFECYCLE_STATUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>CURRENT</stringValue>
        </value>
    </variables>
    <variables>
        <name>ORCHESTRATION_ACTIVATION_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORCHESTRATION_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0FF170000004CA1GAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>ORCHESTRATION_INSTANCE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ORCHESTRATION_INSTANCE_PK</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PE_EXTERNAL_EVENT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PE_REPLAY_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PE_TIMESTAMP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>S1_R0_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R0_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R1_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S1_R1_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R0_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S2_R0_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R0_COND_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>S3_R0_EVENT_STATUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SERIALIZED_ORCH_DEFINITION</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{"formatVersion":"1.0","properties":{},"interaction":{"states":[{"id":0,"name":"Always","actions":[{"id":0,"action":[]}]},{"id":1,"name":"Default","isInitial":true,"actions":[{"id":0,"when":{"type":"catalog","name":"always"},"eventSource":"Smart_Thermostat_Reading__e","condition":"Smart_Thermostat_Reading__e.Temperature__c &gt; Temperature_Too_Hot","action":[{"id":0,"name":"changeState","params":{"$1":2},"type":"catalog"}]},{"id":1,"when":{"type":"catalog","name":"always"},"eventSource":"Smart_Thermostat_Reading__e","condition":"Smart_Thermostat_Reading__e.Temperature__c &lt; Temperature_Too_Cold","action":[{"id":0,"name":"changeState","params":{"$1":3},"type":"catalog"}],"description":""}]},{"id":2,"name":"Temperature Too Hot","actions":[{"id":0,"when":{"type":"catalog","name":"always"},"eventSource":"Smart_Thermostat_Reading__e","condition":"Smart_Thermostat_Reading__e.Temperature__c &lt; Temperature_Too_Hot","action":[{"id":0,"name":"changeState","params":{"$1":1},"type":"catalog"}],"description":""}]},{"id":3,"name":"Temperature Too Cold\n","actions":[{"id":0,"when":{"type":"catalog","name":"always"},"eventSource":"Smart_Thermostat_Reading__e","condition":"Smart_Thermostat_Reading__e.Temperature__c &gt; Temperature_Too_Cold","action":[{"id":0,"name":"changeState","params":{"$1":1},"type":"catalog"}],"description":""}]}],"localVariables":[{"id":0,"name":"Temperature_Too_Hot","dataType":"Number","eventSource":"","condition":"","initialValue":"80","description":""},{"id":1,"name":"Temperature_Too_Cold","dataType":"Number","eventSource":"","condition":"","initialValue":"30","description":""}]}}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Smart_Thermostat_Reading_PLATFORM_EVENT_VARIABLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Smart_Thermostat_Reading__e</objectType>
    </variables>
    <variables>
        <name>STATE_TRANSITIONS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Temperature_Too_Cold_LOCAL_VAR_VARIABLE_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Temperature_Too_Cold_VAR_INIT_VALUE_CONST_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Temperature_Too_Hot_LOCAL_VAR_VARIABLE_0</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>80.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Temperature_Too_Hot_VAR_INIT_VALUE_CONST_0</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>80.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TRACKER</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
